/* Recent Projects Section */
.recent-projects-container {
  background: radial-gradient(circle at bottom left, #130b3d, #0b001f 70%);
  padding: 100px 50px;
  color: white;
  text-align: center;
  position: relative;
}

.recent-projects-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
  color: #ffffff;
  margin-right: 60%;
}

/* Title underline */
.recent-projects-title::after {
  content: "";
  display: block;
  width: 5rem;
  height: 3px;
  background: linear-gradient(to right, #ff66cc, #57007b);
  position: absolute;
  top: 3.2rem;
  left: 15%;
  transform: translateX(-53%);
}

/* Projects Grid */
.recent-projects-grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding-top: 20px;
}

/* Project Item */
.project-item {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: left;
  position: relative;
  overflow: hidden;
}

/* Alternate positioning for odd and even items */
.project-item:nth-child(odd) {
  flex-direction: row; /* Image on the left */
}

.project-item:nth-child(even) {
  flex-direction: row-reverse; /* Image on the right */
}

/* Project Icon Styling */
.project-icon {
  max-width: 500px;
  border-radius: 10px;
  z-index: 1;
  position: relative;
}

/* Project Details */
.project-details {
  background: linear-gradient(
    to right,
    rgba(49, 47, 49, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  border-radius: 15px;
  padding: 20px;
  margin: -20px; /* Negative margin to create overlap */
  color: #ffffff;
  z-index: 2;
  max-width: 600px;
  position: relative;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.4);
}

/* Styling for Titles */
.project-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ff66cc;
  margin-left: 75%;
  margin-top: 0%;
}

.even-title {
  margin-left: 0%;
  /* Alternate color for even titles */
}

.featured-label {
  font-weight: bold;
  font-size: 1rem;
  color: #ff66cc;
  margin-bottom: 10px;
  display: block;
  margin-left: 75%;
}

.even-label {
  margin-left: 0%;
}

.project-description {
  font-size: 1rem;
  color: white;
  margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .project-item {
    flex-direction: column; /* Stacks elements vertically */
  }

  .project-icon {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .project-details {
    text-align: center;
    margin: 0;
  }
}
