/* Recent Projects Section */
.recent-projects-container {
  background: radial-gradient(circle at bottom left, #130b3d, #0b001f 70%);
  padding: 100px 50px;
  color: white;
  text-align: center;
  position: relative;
}

.recent-projects-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
  color: #ffffff;
}

/* Title underline */
.recent-projects-title::after {
  content: "";
  display: block;
  width: 5rem;
  height: 3px;
  background: linear-gradient(to right, #ff66cc, #57007b);
  position: absolute;
  top: 3rem;
  left: 14%;
  transform: translateX(-50%);
}

/* Projects Grid */
.recent-projects-grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-items: center;
  padding-top: 20px;
}

/* Project Item */
.project-item {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: left;
}

.project-item:nth-child(odd) {
  flex-direction: row-reverse;
}

/* Project Icon Styling */
.project-icon {
  max-width: 400px;
  border-radius: 5px;
}

/* Project Details */
.project-details {
  max-width: 600px;
}

.project-title {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 10px;
}

.featured-label {
  color: #ff66cc;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: -20px;
  display: block;
}

.even-label {

    margin-left: 75%;


  }

.project-description {
  font-size: 1rem;
  color: white;
  margin-top: 10px;
  padding: 20px;
  background: linear-gradient(
    to right,
    rgba(49, 47, 49, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Hover Effect for Project Item */
.project-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.8);
}

/* Styling for even project items */
.even-project {
    
/* Alternate gradient */
}

/* Styling for even project titles */
.even-title {
    margin-left: 75%;
 /* Alternate color for even titles */
}

/* Styling for even project descriptions */
.even-description {
    background: linear-gradient(
        to right,
        rgba(49, 47, 49, 0.4),
        rgba(255, 255, 255, 0.2)
      );
  color: #ffffff;
}

/* Responsive Design */
@media (max-width: 768px) {
  .project-item {
    flex-direction: column;
  }

  .project-icon {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .project-details {
    text-align: center;
  }
}
